name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # ❌ node_modules, uploads copy ન થાય
      - name: Upload backend files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          port: 22
          source: "backend/*"
          target: "/var/www/vidoprompt/backend"
          strip_components: 1

      - name: Restart backend with PM2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          port: 22
          script: |
            cd /var/www/vidoprompt/backend
            npm install --omit=dev
            pm2 restart vidoprompt-backend || pm2 start server.js --name vidoprompt-backend
            pm2 save
